# Copy this file and rename it to docker-compose.env

# This file should contain environment variables that are added by default to each service/container
# Note that this can and should contain secrets, and the resulting file should NOT be checked into the VCS
MYVAR1=val1